<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121552474860-4c75kht3s4h1drkvttu4tto9h829tvtu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121552474860-4c75kht3s4h1drkvttu4tto9h829tvtu</string>
	<key>API_KEY</key>
	<string>AIzaSyCC2VMC1WJR7oi7o58D0YZEKpgurJ3TKDU</string>
	<key>GCM_SENDER_ID</key>
	<string>121552474860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.example</string>
	<key>PROJECT_ID</key>
	<string>stage8-e9bbd</string>
	<key>STORAGE_BUCKET</key>
	<string>stage8-e9bbd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121552474860:ios:a9e8d4a8381ac9dcc7cbc9</string>
</dict>
</plist>